@media  (max-width: 1464px) {
    h1{
        font-size: 100px;
        }
        
}
body{
overflow: hidden;
width: 100%;


}
h1{
width: 100vw;
text-align: center;
font-family: 'Righteous', cursive;
font-size: 200px;
}

